@model InterfaceTask.Models.Data

@{
    ViewData["Title"] = "Calculator";
}

<h1>Calculator</h1>

<h4>Data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Calculator">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="x" class="control-label"></label>
                <input asp-for="x" class="form-control" />
                <span asp-validation-for="x" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="y" class="control-label"></label>
                <input asp-for="y" class="form-control" />
                <span asp-validation-for="y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

